*,
*::before,
*::after {
  box-sizing: border-box;
}


.container {
  margin-top:30px;
}

#scores::after  {
  content: "🏆";
  margin-left: 3px;
  margin-right: 3px;
}

#timer-icon::after  {
  content: "😬";
  margin-left: 3px;
  margin-right: 3px;
}



h3 {
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 1px;
  font-size: 20px;
}


p {
  font-family: 'Roboto', sans-serif;
}

#questions ul  {

  list-style: none;

}

